# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
.dotnet-home/
.verify_bin/
.verify_obj/
msbuild.log

# Rider
.idea/
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
