# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
